body {
    padding-top: 5rem;
}

/* https://stackoverflow.com/questions/37323924/bootstrap-jumbotron-blurry-background-image-without-blurring-text*/
.jumbotron > .bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("fivestar-34.jpg");
    background-position: 0% 45%;
    opacity: 1;
    z-index: -1;
    background-repeat: no-repeat;
    background-size: cover;
    max-height: 500px;
    background-attachment: fixed; /*https://www.webnots.com/how-to-create-full-width-parallax-page-with-bootstrap-4-jumbotron/*/
}

.jumbotron {
    background-color: transparent;
    color: #fff;
    max-height: 500px;
}

/*
TFL CSS
version:   1.0 
date:      31/07/2014 
author:    Richard Allen 
email:     rourkie@gmail.com 
website:   http://www.richardallen.co.uk
License:   Creative Commons Attribution-ShareAlike 4.0 International License
*/

/*TFL uses New Johnston typeface, which requires a license from here; https://www.tfl.gov.uk/forms/12405.aspx. 
Lato is a similar looking typeface on Google Fonts. */
@import url(http://fonts.googleapis.com/css?family=Lato);

body {
    font-family: 'Lato', sans-serif;
}

/*tfl underground colours from http://blog.richardallen.co.uk/london-tube-colours */

.tfl-bakerloo {
    background: #b36305!important;
    color: #fff;
}

.tfl-central {
    background: #e32017!important;
    color: #fff;
}

.tfl-circle {
    background: #ffd300!important;
    color: #000;
}

.tfl-district {
    background: #00782a!important;
    color: #fff;
}

.tfl-dlr {
    background: #00A4A7!important;
    color: #000;
}

.tfl-hammersmith {
    background: #f3a9bb!important;
    color: #000;
}

.tfl-jubilee {
    background: #a0a5a9!important;
    color: #fff;
}

.tfl-metropolitan {
    background: #9b0056!important;
    color: #fff;
}

.tfl-northern {
    background: #000 !important;
    color: #fff;
}

.tfl-overground {
    background: #ee7c0e !important;
    color: #fff;
}

.tfl-piccadilly {
    background: #003688 !important;
    color: #fff;
}

.tfl-tramlink {
    background: #84B817 !important;
    color: #fff;
}

.tfl-victoria {
    background: #0098d4 !important;
    color: #000;
}

.tfl-waterloocity {
    background: #95cdba;
    color: #000;
}

/*https://github.com/oakleyarts/css-tube-map */

.station.vertical {
    height: 7px;
    width: 8px;
    display: block;
    line-height: 20px;
}